body {
    background-image:Linear-gradient(217deg, rgb(255, 255, 255), rgb(255, 111, 111) 70.71%),Linear-gradient(217deg, rgb(81, 255, 0), rgb(81, 255, 0) 70.71%);
}
h1 {
    color: rgb(0, 0, 0);
}
form {
    color: rgb(0, 0, 0);
}